- content_for :title do
  = @title
.form
  - form_tag parts_path do
    = hidden_field_tag(:page_id, @page.id)
    .parent= onblur_text_tag :add_parent, @parent_title, :size => 80
    .title= text_field_tag :title, @page.title, :size => 80
    .parts= text_area_tag :url_list, @page.url_list, :rows => @page.parts.size + 2, :cols => 80
    .button= submit_tag "Update"
