.form
  = form_with model: @page.becomes(Page), local: true do |form|
    = render "multiple_urls"
    .soon= render "pages/page_soon"
    = render "pages/page_fields"
    = render "tags/update"
    = form.submit "Store", :name => "Store"
