- content_for :title do
  = @title
.form
  - form_for @new_page, :builder => DefaultFormBuilder do |f|
    - unless Genre.all.blank?
      .genre
        = select_tag :genre, "<option></option>" +   options_from_collection_for_select(Genre.all, 'name', 'name')
    = f.text_field :base_url, Page::BASE_URL_PLACEHOLDER, :maxlength => 255, :size => 80
    = f.text_field :url_substitutions, Page::URL_SUBSTITUTIONS_PLACEHOLDER, :maxlength => 255, :size => 80
    = f.text_area :urls, Page::URLS_PLACEHOLDER, :rows => 10, :cols => 80
    = f.text_field :title
    .button= f.submit "Store"
