- content_for :title do
  = @title
.form
  = form_tag parts_path do
    = hidden_field_tag(:page_id, @page.id)
    .part= hinted_text_field_tag 'add_url', @page.parts.last.url, "URL", :size => @page.parts.last.url.length
    = submit_tag "Add"
