- content_for :title do
  = "Parts for #{@page.title}"
= render :partial => "pages/buttons", :locals => {:page => @page }
= render :partial => "pages/links", :locals => {:page => @page, :called_by => "parts" }
= render :partial => "pages/headers", :locals => {:page => @page }
.parts
  - @page.parts.each do |part|
    .part{:id => "position_#{part.position}"}
      =h part.title
      = link_to "Read", page_path(part)
      = link_to "List Parts", part_path(part) unless part.parts.blank?
      = link_to "Download", page_path(part, :format => 'txt')
