- content_for :title do
  = "Parts for #{@page.title}"
.form
  - form_for @page do
    = submit_tag "Read First"
    = submit_tag "Read Later"
    = submit_tag "Make UTF8"
- if @page.parent
  .parent= link_to @page.parent.title, part_path(@page.parent)
.title
  =h @page.title
  = link_to "Read", page_path(@page)
  = link_to "Download", @page.mobile_url
  = link_to "Rate", rate_path(@page)
  = link_to "Genres", genre_path(@page)
  = link_to "Notes", edit_note_path(@page)
  = link_to "Manage Parts", edit_part_path(@page)
.genres= @page.genre_string
.last_read= @page.last_read.to_date if @page.last_read
.notes=simple_format @page.notes
.parts
  - @page.parts.each do |part|
    .part{:id => "position_#{part.position}"}
      =h part.title
      - if part.parts.blank?
        = link_to "Read", page_path(part)
      - else
        = link_to "Read", part_path(part)
      = link_to "Download", part.mobile_url
      = link_to "Scrub", scrub_path(part)
