- content_for :title do
  = "Pages found for: " + @search_string
- unless @pages.blank?
  - @pages.each do |page|
    = render :partial => "pages/links", :locals => {:page => page, :parts => false, :called_by => "search" }
    = render :partial => "pages/headers", :locals => {:page => page }
.search
  - form_tag search_index_path do
    = text_field_tag :search, @search_string
    = submit_tag "Search", :name => nil
