- content_for :title do
  "Mobile Pages"
- content_for :extra_links do
  = link_to "Store", new_store_path
  = link_to "Read", page_path(@page) if @page
- if @page
  .title
    = @page.title
  .form
    - form_tag start_index_path do
      = hidden_field_tag(:page_id, @page.id)
      = submit_tag "Next"
.search
  - form_tag search_index_path do
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
