- content_for :title do
  = @title
- if @page
  .title
    =h @page.title
    - if @page.parts.empty?
      = link_to "Read", page_path(@page)
    -else
      = link_to "Read", part_path(@page)
    = link_to "Download", @page.mobile_url
    = link_to "Rate", rate_path(@page) if @page
    = link_to "Genres", genre_path(@page) if @page
    = link_to "Notes", edit_note_path(@page) if @page
    = link_to "Manage Parts", edit_part_path(@page)
  .genres= @page.genre_string
  .last_read= @page.last_read.to_date if @page && @page.last_read
  .notes=simple_format @page.notes
  .form
    - form_tag start_index_path do
      = hidden_field_tag(:page_id, @page.id)
      = hidden_field_tag(:genre, @genre.name) if @genre
      = submit_tag "Next"
  .search
    - form_tag search_index_path do
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil
  - unless @genres.blank?
    .genre
      - form_tag start_index_path do
        = select_tag :genre, "<option></option>" + options_for_select(@genres)
        = submit_tag "Filter", :name => nil
.form
  - form_for @new_page do |f|
    = f.text_field :url, :maxlength => 255, :size => 80, :value => Page::URL_PLACEHOLDER, :onblur=>"if(this.value == '') { this.value='#{Page::URL_PLACEHOLDER}'}", :onfocus=>"if (this.value == '#{Page::URL_PLACEHOLDER}') {this.value=''}"
    = f.text_field :title, :maxlength => 255, :size => 80, :value => Page::TITLE_PLACEHOLDER,  :onblur=>"if(this.value == '') { this.value='#{Page::TITLE_PLACEHOLDER}'}", :onfocus=>"if (this.value == '#{Page::TITLE_PLACEHOLDER}') {this.value=''}"
    = f.text_area :pasted, :rows => 3, :cols => 80, :value => Page::PASTED_PLACEHOLDER, :onblur=>"if(this.value == '') { this.value='#{Page::PASTED_PLACEHOLDER}'}", :onfocus=>"if (this.value == '#{Page::PASTED_PLACEHOLDER}') {this.value=''}"
    .button= f.submit "Store"
= link_to "Store Multiple", new_part_path
