- content_for :title do
  "Mobile Pages"
- content_for :extra_links do
  = link_to "Read", page_path(@page) if @page
- if @page
  .title= link_to @page.title, @page.mobile_url
  .form
    - form_tag start_index_path do
      = hidden_field_tag(:page_id, @page.id)
      = submit_tag "Next"
.search
  - form_tag search_index_path do
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
.form
  - form_for @new_page do |f|
    = f.text_field :url, :maxlength => 255, :size => 80, :value => Page::URL_PLACEHOLDER, :onfocus=>"this.value=''"
    = f.text_field :title, :maxlength => 255, :size => 80, :value => Page::TITLE_PLACEHOLDER, :onfocus=>"this.value=''"
    .button= f.submit "Store"
