- content_for :title do
  = @title
- if @page
  - content_for :extra_links do
    = link_to "Read", page_path(@page)
    = link_to "Rate", rate_path(@page)
    = link_to "Genres", genre_path(@page)
  .title= link_to @page.title, @page.mobile_url
  .genres= @page.genre_string
  .form
    - form_tag start_index_path do
      = hidden_field_tag(:page_id, @page.id)
      = hidden_field_tag(:genre, @genre.name) if @genre
      = submit_tag "Next"
  .search
    - form_tag search_index_path do
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil
  .genre
    - form_tag start_index_path do
      = select_tag :genre, "<option></option>" + options_for_select(@genres)
      = submit_tag "Filter", :name => nil
.form
  - form_for @new_page do |f|
    = f.text_field :url, :maxlength => 255, :size => 80, :value => Page::URL_PLACEHOLDER, :onfocus=>"this.value=''"
    = f.text_field :title, :maxlength => 255, :size => 80, :value => Page::TITLE_PLACEHOLDER, :onfocus=>"this.value=''"
    .button= f.submit "Store"
