-title="Edit author: #{@author.name}"
-content_for(:title, title)
%h1=title
.destroy
  %p= link_to 'Destroy', author_path(@author, :destroy => true)
%p.author
  = form_for @author do |f|
    Change name:
    = hinted_text_field_tag 'author[name]', @author.name, "Name"
    .button= f.submit "Update"
    %br
    - unless (Author.names - [@author.name]).blank?
      = label_tag :merge, "Merge into:"
      = select_tag :merge, options_for_select([nil] + Author.names - [@author.name])
      %br
      .button= f.submit "Merge"
