-content_for(:title, "Authors")
- Author.by_name.each do |author|
  %p
    edit
    = link_to "#{author.name}", edit_author_path(author)
    =surround "(", ")" do
      = link_to "#{author.pages.count} #{'page'.pluralize(author.pages.count)}", pages_path(author: author.true_name)
