- content_for :title do
  = "New authors for " + @page.title

.title= @page.title
.authors
  - form_tag authors_path do
    = hidden_field_tag(:page_id, @page.id)
    = text_field_tag :authors, Author::NEW_PLACEHOLDER, :onblur=>"if(this.value == '') { this.value='#{Author::NEW_PLACEHOLDER}'}", :onfocus=>"if (this.value == '#{Author::NEW_PLACEHOLDER}') {this.value=''}", :maxlength => 255, :size => 70
    .button= submit_tag "Add Authors"
