- content_for :title do
  = "Refetch " + @page.title
.form
  = form_tag refetches_path do
    = hidden_field_tag(:page_id, @page.id)
    - if @page.ao3?
      .part= text_field_tag :url, @page.ao3_url, :maxlength => 255, :size => 33
    - elsif @page.parts.blank?
      -if @page.url.blank?
        .part=hinted_text_field_tag :url, "URL" , :maxlength => 255, :size => 33
        -if @page.raw_html.blank?
          .parts= hinted_text_area_tag :url_list, Page::URLS_PLACEHOLDER, :rows => @page.parts.size + 2, :cols => 33
      -else
        .part= text_field_tag :url, @page.url , :maxlength => 255, :size => 33
    - else
      .parts= text_area_tag :url_list, @page.url_list, :rows => @page.parts.size + 2, :cols => 33
      -if @page.parts.first.ao3?
        .part= text_field_tag :url, @page.ao3_url, :maxlength => 255, :size => 33
      -elsif !@page.parts.first.parts.blank?
        .part= text_field_tag :url, "URL", :maxlength => 255, :size => 33
    = submit_tag "Refetch"
    = submit_tag "Refetch Recursive" unless @page.parts.blank?
