.form
  = form_tag refetches_path do
    = hidden_field_tag(:page_id, @page.id)
    - if @page.could_have_url?
      .part= text_field_tag :url, @page.refetch_url, :maxlength => 255, :size => @page.refetch_url.length
    - if @page.could_have_parts?
      .parts= text_area_tag :url_list, @page.url_list, :rows => @page.parts.size + 2, :cols => @page.url_list_length
    = submit_tag "Refetch"
    = submit_tag "Refetch Recursive" if @page.can_have_parts?
