.form
  = form_for page do
    = submit_tag "Read Now"
    = submit_tag "Read Later"
    = submit_tag "Rebuild from Raw HTML"
    = submit_tag "Rebuild from Scrubbed HTML"
    = submit_tag "Rebuild Meta"
