.form
  - form_for page do |f|
    - if called_by == "index"
      = select_tag :size, "<option></option>" + options_for_select(Page::SIZES, @size)
      = label_tag :size, "Size"
      %br
      = select_tag :state, "<option></option>" + options_for_select(Page::STATES, @state)
      = label_tag :state, "State"
      %br
    - unless Genre.names.blank?
      = select_tag :genre, "<option></option>" + options_for_select(Genre.names, @genre.try(:name))
    = label_tag :genre, "Genre"
    %br
    - unless Author.names.blank?
      = select_tag :author, "<option></option>" + options_for_select(Author.names, @author.try(:name))
    = label_tag :author, "Author"
    %br
    = hinted_text_field_tag 'page[title]', page.title, "Title"
    %br
    = hinted_text_area_tag 'page[notes]', page.notes, "Notes", :rows => 1, :cols => 30
    %br
    - if called_by == "multiple"
      = hinted_text_field_tag 'page[base_url]', page.base_url, Page::BASE_URL_PLACEHOLDER, :maxlength => 255, :size => 80
      = hinted_text_field_tag 'page[url_substitutions]', page.url_substitutions, Page::URL_SUBSTITUTIONS_PLACEHOLDER, :maxlength => 255, :size => 80
      = hinted_text_area_tag 'page[urls]', page.urls, Page::URLS_PLACEHOLDER, :rows => 10, :cols => 80
    - else
      = hinted_text_field_tag 'page[url]', page.url, "URL"
    %br
    = f.submit "Find", :name => "Find" if called_by == "index"
    = f.submit "Store", :name => "Store"
    = link_to("Store Multiple", new_part_path) if called_by == "index"
