-unless called_by == "index"
  =render :partial => "tags/select"
  .div= hinted_text_field_tag 'page[title]', page.title, "Title", :size => 33
  .div= hinted_text_area_tag 'page[my_notes]', page.my_notes, "My Notes", :rows => 1, :cols => 33
  .div= hinted_text_area_tag 'page[notes]', page.notes, "Notes", :rows => 1, :cols => 33
- if called_by == "multiple"
  .div= hinted_text_field_tag 'page[base_url]', page.base_url, Page::BASE_URL_PLACEHOLDER, :maxlength => 255, :size => 33
  .div= hinted_text_field_tag 'page[url_substitutions]', page.url_substitutions, Page::URL_SUBSTITUTIONS_PLACEHOLDER, :maxlength => 255, :size => 33
  .div= hinted_text_area_tag 'page[urls]', page.urls, Page::URLS_PLACEHOLDER, :rows => 10, :cols => 33
- else
  .div= hinted_text_field_tag 'page[url]', page.url, "URL", :size => 33
