.type
  = label_tag :type, "Type:"
  - ['Collection', 'Series', 'Book', 'Chapter', 'Single', 'none', 'all', 'any'].each do |choice|
    = radio_button_tag :type, choice, @type == choice
    = label_tag "type_#{choice}", choice
.last_read
  = label_tag :unread, "Unread:"
  - ['all', 'any', 'parts', 'none', 'either'].each do |choice|
    = radio_button_tag :unread, choice, @unread == choice
    = label_tag "unread_#{choice}", choice
.size
  = label_tag :size, "Length:"
  - ['longer', *Page::SIZES.reverse, 'shorter', 'any'].each do |choice|
    = radio_button_tag :size, choice, @size == choice
    = label_tag "size_#{choice}", choice
.stars
  = label_tag :stars, "Stars:"
  - ['better', '5', '4', '3', '2', '1', 'worse', 'unfinished', 'any'].each do |choice|
    = radio_button_tag :stars, choice, @stars == choice
    = label_tag "stars_#{choice}", choice
.sort_by
  = label_tag :sort_by, "Sort by:"
  - ['random', 'first_created', 'last_created', 'first_read', 'last_read', 'longest', 'shortest', 'default' ].each do |choice|
    = radio_button_tag :sort_by, choice, @sort_by == choice
    = label_tag "sort_by_#{choice}", choice.humanize.downcase
