.sort_by
  - ['random', 'first_created', 'last_created', 'first_read', 'last_read', 'longest', 'shortest'].each do |choice|
    = radio_button_tag :sort_by, choice, @sort_by == choice
    = label_tag "sort_by_#{choice}", choice.humanize.capitalize
.size
  - ['Longer', *Page::SIZES.reverse, 'Shorter'].each do |choice|
    = radio_button_tag :size, choice, @size == choice
    = label_tag "size_#{choice}", choice
  WIP:
  - ['Yes', 'No'].each do |choice|
    = radio_button_tag :wip, choice, @wip == choice
    = label_tag "wip_#{choice}", choice
.last_read
  - ['Unread', 'Parts', 'Read'].each do |choice|
    = radio_button_tag :unread, choice, @unread == choice
    = label_tag "unread_#{choice}", choice
.stars
  - ['5', '4', '3', 'other'].each do |choice|
    = radio_button_tag :stars, choice, @stars == choice
    = label_tag "stars_#{choice}", choice
  Favorite:
  - ['Yes', 'No'].each do |choice|
    = radio_button_tag :favorite, choice, @favorite == choice
    = label_tag "favorite_#{choice}", choice
.type
  - ['Series', 'Book', 'Chapter', 'Single', 'none', 'all', 'taggable'].each do |choice|
    = radio_button_tag :type, choice, @type == choice
    = label_tag "type_#{choice}", choice
  Child:
  - ['Yes', 'No'].each do |choice|
    = radio_button_tag :child, choice, @child == choice
    = label_tag "child_#{choice}", choice
.soon
  - PageSoon::LABELS.each do |choice|
    = radio_button_tag :soon, choice, @soon == choice
    = label_tag "soon_#{choice}", choice
