.genres= page.genre_string
.authors= page.author_string
.favorite
  = page.favorite_string
.size
  = "#{page.size} (#{page.wordcount})"
.last_read
  - if page.last_read
    = page.last_read.to_date
  - else
    = "unread"
- if called_by == "index"
  .my_notes=page.short_my_notes
  .notes=simple_format page.short_notes
- else
  .my_notes=page.my_notes
  .notes=simple_format page.notes
