.genres= page.genre_string
.hiddens= page.hidden_string
.authors= page.author_string
.favorite
  = page.favorite_string
.size
  - if page.uploaded
    = "Uploaded"
  = "#{page.size} (#{page.wordcount})"
.last_read
  - if page.last_read
    = page.last_read.to_date
  - else
    = "unread"
- if called_by == "index"
  .notes=simple_format page.short_notes
- else
  .notes=simple_format page.notes
