- if page.parent
  .parent= link_to page.parent.title, page_path(page.parent)
.title
  - if called_by == "show"
    =h page.title
    %br
  - else
    = link_to h(page.title), page_path(page)
  = link_to "Rate", rate_path(page)
  = link_to "EPUB", download_url_for_page(page, ".epub")
  = link_to "HTML", download_url_for_page(page, ".html")
  - unless called_by == "index"
    = link_to "TXT", download_url_for_page(page, ".txt")
    = link_to "BIG PDF", download_url_for_page(page, ".bigpdf")
    = link_to "PDF", download_url_for_page(page, ".pdf")
    %br
    = link_to "Notes", edit_note_path(page)
    = link_to "Authors", author_path(page)
    = link_to "Genres", genre_path(page)
    %br
    = link_to "Manage Parts", edit_part_path(page)
    = link_to "Edit Raw HTML", edit_html_path(page)
    = link_to "Scrub", scrub_path(page)
    = link_to "Refetch", refetch_path(page)
  = link_to "Original", page.url unless page.url.blank?
