- if page.parent
  .parent= link_to page.parent.title, page_path(page.parent)
.title
  - if called_by == "show" 
    =h page.title
  - else
    = link_to h(page.title), page_path(page)
  = link_to "Read", read_path(page) unless called_by == "read"
  = link_to "Text", page_path(page, :format => 'txt')
  = link_to "PML", page_path(page, :format => 'pml')
  - page.pdf_sizes.each do |size|
    = link_to "pdf(#{size})", page_pdf_path(page, size)
  = link_to "new pdf", new_page_pdf_path(page)
  = link_to "rm pdfs", page_pdfs_path(page.id) unless page.pdf_files.blank?
  = link_to "eReader", page.ereader_url if page.ereader_exists?
  = link_to "Rate", rate_path(page) 
  - unless called_by == "index"
    = link_to "Notes", edit_note_path(page)
    = link_to "Authors", author_path(page)
    = link_to "Genres", genre_path(page)
    = link_to "Manage Parts", edit_part_path(page)
  - if called_by == "show" or called_by == "read"
    = link_to "Edit Raw HTML", edit_html_path(page)
    = link_to "Scrub", scrub_path(page)
    = link_to "Refetch", refetch_path(page)
  = link_to "Original", page.url unless page.url.blank?
