- if page.parent
  .parent= link_to page.parent.title, part_path(page.parent)
.title
  =h page.title
  = link_to "Read", page_path(page) unless called_by == "single"
  = link_to "List Parts", part_path(page) unless (page.parts.blank? || called_by == "parts" )
  = link_to "Download", page_path(page, :format => 'txt')
  = link_to "Rate", rate_path(page) 
  - if called_by == "single" or called_by == "parts"
    = link_to "Notes", edit_note_path(page)
    = link_to "Authors", author_path(page)
    = link_to "Genres", genre_path(page)
    = link_to "Manage Parts", edit_part_path(page)
  - if called_by == "single"
    = link_to "Edit Raw HTML", edit_html_path(page)
    = link_to "Scrub", scrub_path(page)
    = link_to "Refetch", refetch_path(page)

