.audio_url
  = text_field_tag 'page[audio_url]', @page.audio_url, :size => 29
  AudioURL
  -if current_page?(filter_path)
    = radio_button_tag :show_audios, 'all'
    = label_tag :show_audios_all, 'Show All'
    = radio_button_tag :show_audios, 'none'
    = label_tag :show_audios_none, 'Show None'
.title
  = text_field_tag 'page[title]', @page.title, :size => 29
  Title
.my_notes
  = text_area_tag 'page[my_notes]', @page.my_notes, :rows => 1, :cols => 29
  My Notes
.notes
  = text_area_tag 'page[notes]', @page.notes, :rows => 3, :cols => 29
  Page Notes
