.pages
  - @pages.each_with_index do |page, index|
    .page{:id => "position_#{index+1}"}
      .title
        %span.bold= link_to page.title, page_path(page)
        - if page.parent
          of
          =link_to page.parent.title, page_path(page.parent)
          -if page.parent.parent
            of
            =link_to page.parent.parent.title, page_path(page.parent.parent)
        = render 'pages/links', page: page

      = render "pages/meta", page: page
      = render "pages/span_tags", page: page

      .my_notes=page.short_my_notes
      .notes=simple_format page.short_notes
      .end_notes=simple_format page.short_end_notes

