.form
  = form_with url: find_path, local: true do |form|
    .url
      = render "page_url"
      = form.submit "Find"
    = render "filters"
    = render "tags/select"
    = render "page_fields"
    = form.submit "Find"
