- content_for :title do
  = @title
= render :partial => "pages/create", :locals => {:page => @page, :called_by => "index", :size => @size, :genre => @genre, :author => @author }
- if @pages
  - @pages.each_with_index do |page, index|
    .page{:id => "position_#{index+1}"}
      = render :partial => "pages/links", :locals => {:page => page, :called_by => "index" }
      = render :partial => "pages/headers", :locals => {:page => page, :called_by => "index"}
