- content_for :title do
  = @title
.form
  = form_for @page.becomes(Page) do |f|
    = hidden_field_tag :count, @count
    = render :partial => "pages/filter" if @filter
    = render :partial => "pages/create", :locals => {:page => @page, :called_by => @called_by}
    = f.submit "Find", :name => "Find"
    = f.submit "Store", :name => "Store" unless @filter
    = f.submit "Refetch", :name => "Refetch" unless @filter
    - unless @pages.blank?
      .pages
        - @pages.each_with_index do |page, index|
          .page{:id => "position_#{index+1}"}
            .title
              = link_to page.title, page_path(page)
              - if page.parent
                of
                =link_to page.parent.title, page_path(page.parent)
                -if page.parent.parent
                  of
                  =link_to page.parent.parent.title, page_path(page.parent.parent)
            .views
              = link_to "Rate", rate_path(page)
              = link_to "ePub", download_url_for_page(page, ".epub")
              = link_to "HTML", download_url_for_page(page, ".html")
              = link_to "Text", download_url_for_page(page, ".read") if page.parts.empty?
              = link_to "Original", page.url unless page.url.blank?
            .tags
              =page.meta_strings.join_comma
            .my_notes=page.my_short_notes
            .notes=simple_format page.short_notes
        = f.submit "Next", :name => "Next"
