.url
  = form_with url: @page, local: true do |form|
    = render "page_url"
    = form.submit "Find", :name => "Find"
    = form.submit "Refetch", :name => "Refetch"
    = form.submit "Store", :name => "Store"
    = form.submit "Add Chapter", :name => "Add"
    = form.submit "Store w/o Fetching", :name => "NoFetch"
    = form.submit "Add Chapter w/o Fetching", :name => "AddNoFetch"

=link_to 'New Page with Details', new_page_path
|
=link_to 'New Page with Parts', new_part_path
