.form
  = form_with model: @page, local: true do |form|
    .url
      = render "page_url"
      = form.submit "Store", :name => "Store"
    .soon= render "page_soon"
    = render "page_fields"
    = render "tags/update"
    = form.submit "Store", :name => "Store"
    = form.submit "Store w/o Fetching", :name => "NoFetch"
