-title = "Preview Section #{@section_number} for page: #{@page.title}"
-content_for(:title, title)
%h1=title
%h2 Old
#original=raw @old
%h2 New
#edited=raw @new
.content
  = form_for @page do |f|
    .button= f.submit "Confirm Section Edit"
    = hidden_field_tag(:section, @section_number)
    = hidden_field_tag(:new, @new)

