.soon
  #{Page.reading.count} pages

-unless @pages.blank?
  =render "pages"
  .form
    = form_tag reading_path, method: :get do
      = hidden_field_tag :count, @count
      = submit_tag "First" if @count > 0
      = submit_tag "Next" if @count < Page.reading.count - Filter::LIMIT
      = submit_tag "Previous" if @count > 0
      = submit_tag "Last" if @more
