- content_for :title do
  =@page.title
= render :partial => "pages/buttons", :locals => {:page => @page }
= render :partial => "pages/links", :locals => {:page => @page, :called_by => "show" }
= render :partial => "pages/headers", :locals => {:page => @page, :called_by => "show" }
.parts
  - @page.parts.each do |part|
    .part{:id => "position_#{part.position}"}
      = link_to h(part.title), page_path(part)
      - unless part.tag_string.blank?
        = "(#{part.tag_string})"
      = link_to "Rate", rate_path(part)
      = link_to "EPUB", download_url_for_page(part, ".epub")
      = link_to "HTML", download_url_for_page(part, ".html")
      = link_to "Sectioned", download_url_for_page(part, ".read")
      = link_to "Original", part.url unless part.url.blank?
      %span.my_notes=part.short_my_notes
      %span.notes=part.short_notes
