- content_for :title do
  =@page.title
= render :partial => "pages/buttons", :locals => {:page => @page }
= render :partial => "pages/links", :locals => {:page => @page, :called_by => "show" }
= render :partial => "pages/headers", :locals => {:page => @page, :called_by => "show" }
.parts
  - @page.parts.each do |part|
    .part{:id => "position_#{part.position}"}
      = link_to h(part.title), page_path(part)
      - unless part.tag_string.blank?
        = "(#{part.tag_string})"
      = link_to "Read", read_path(part)
      = link_to "Text", page_path(part, :format => 'txt')
      - part.pdf_sizes.each do |size|
        = link_to "pdf(#{size})", page_pdf_path(part, size)
      = link_to "Original", part.url unless part.url.blank?
      %span.notes
        = part.short_notes
