- content_for :title do
  = @page.title
.form
  - form_for @page do
    = submit_tag "Read First"
    = submit_tag "Read Later"
    = submit_tag "Make UTF8"
- if @page.parent
  .parent= link_to @page.parent.title, part_path(@page.parent)
.title
  =h @page.title
  = link_to "Parts", part_path(@page)
  = link_to "Download", @page.mobile_url
  = link_to "Rate", rate_path(@page)
  = link_to "Notes", edit_note_path(@page)
  = link_to "Authors", author_path(@page)
  = link_to "Genres", genre_path(@page)
  = link_to "Manage Parts", edit_part_path(@page)
  = link_to "Edit Raw HTML", edit_html_path(@page)
  = link_to "Scrub", scrub_path(@page)
  = link_to "Refetch", refetch_path(@page)
.states= @page.state_string
.authors= @page.author_string
.genres= @page.genre_string
.last_read= @page.last_read.to_date if @page.last_read
.notes=simple_format @page.notes
.content= render :text => @page.original_html
.form
  - form_for @page do
    = submit_tag "Next"

