- content_for :title do
  =@page.title
.form
  = form_for @page do
    = submit_tag "Read Now"
    = submit_tag "Read Later"
    = submit_tag "Rebuild from Raw HTML"
    = submit_tag "Rebuild from Scrubbed HTML"
    = submit_tag "Remove Downloads"
    = submit_tag "Rebuild Meta"
    = submit_tag "Make Single" if @page.parent
.parent= link_to @page.parent.title, page_path(@page.parent) if @page.parent
.page
  .title=h @page.title
  .views
    = link_to "Rate", rate_path(@page)
    = link_to "ePub", download_url_for_page(@page, ".epub")
    = link_to "HTML", download_url_for_page(@page, ".html")
    = link_to "Text", download_url_for_page(@page, ".read") if @page.parts.empty?
    = link_to "Original", @page.url unless @page.url.blank?
    .edits
      = link_to "My Notes", edit_my_note_path(@page)
      = link_to "Notes", edit_note_path(@page)
      = link_to "Authors", author_path(@page)
      = link_to "Tags", tag_path(@page)
      %br
      = link_to "Manage Parts", edit_part_path(@page)
      - if @page.parts.empty?
        = link_to "Edit Scrubbed HTML", edit_html_path(@page, format: "scrubbed")
        = link_to "Edit Raw HTML", edit_html_path(@page)
      = link_to "Scrub", scrub_path(@page)
      = link_to "Refetch", refetch_path(@page)
  .fandoms
    -@page.tags.fandom.by_name.each do |fandom|
      =link_to fandom.name, pages_path(fandom: fandom.name)
  .relationships
    -@page.tags.relationship.by_name.each do |relationship|
      =link_to relationship.name, pages_path(relationship: relationship.name)
  .tags= @page.trope_string
  .omitteds= @page.omitted_string
  .hiddens= @page.hidden_string
  .authors
    -@page.authors.by_name.each do |author|
      =link_to author.name, pages_path(author: author.true_name)
  .stars= @page.star_string
  .ratings= @page.rating_string
  .size=@page.size_string
  .last_read=@page.last_read_string
  .info= @page.info_string
  .my_notes=raw @page.my_formatted_notes
  .notes=raw @page.formatted_notes
.parts
  - @page.parts.each do |part|
    .part{:id => "position_#{part.position}"}
      = link_to h(part.visible_part_title), page_path(part)
      = part.part_tag_string
      = link_to "Rate", rate_path(part)
      = link_to "EPUB", download_url_for_page(part, ".epub")
      = link_to "HTML", download_url_for_page(part, ".html")
      = link_to "Text", download_url_for_page(part, ".read") if part.parts.empty?
      = link_to "Original", part.url unless part.url.blank?
      %span.my_notes=part.my_short_notes
      %span.notes=part.short_notes
