- content_for :title do
  = "Edit my notes for " + @page.title

.title= @page.title
.notes
  = form_for @page do |f|
    = f.text_area :my_notes, :rows => 10, :cols => 80
    .button= f.submit "Update"
