-Tag.types.each do |type|
  -dtype = type.downcase
  .div{class: "#{dtype}"}
    = select_tag dtype.to_sym,
      options_for_select([nil] + type.constantize.names,instance_variable_get("@#{dtype}_name"))
    = label_tag dtype.to_sym, type
    -if current_page?(filter_path) && Tag.boolean_types.include?(type)
      = radio_button_tag "show_#{dtype}s".to_sym, 'all'
      = label_tag "show_#{dtype}s_all".to_sym, 'Show All'
      = radio_button_tag "show_#{dtype}s".to_sym, 'none'
      = label_tag "show_#{dtype}s_none".to_sym, 'Show None'
-if current_page?(filter_path)
  = check_box_tag :omit, 'selected'
  = label_tag :omit_selected, 'Omit Selected Tags'
