-Tag.types.each do |type|
  .div{class: "#{type.downcase.pluralize}"}
    = select_tag type.downcase.to_sym,
      options_for_select([nil] + type.constantize.names,instance_variable_get("@#{type.downcase}_name"))
    = label_tag type.downcase.to_sym, type
    -if type == "Con" && current_page?(filter_path)
      = check_box_tag :hide_all, 'cons'
      = label_tag :hide_all_cons, 'Hide All'
    -if type == "Pro" && current_page?(filter_path)
      = check_box_tag :show_all, 'pros'
      = label_tag :show_all_pros, 'Show All'
    -if type == "Hidden" && current_page?(filter_path)
      = check_box_tag :show, 'hiddens'
      = label_tag :show_hiddens, 'Show'
    -if type == "Reader" && current_page?(filter_path)
      = radio_button_tag :show_readers, 'all'
      = label_tag :show_readers_all, 'Show All'
      = radio_button_tag :show_readers, 'none'
      = label_tag :show_readers, 'Show None'
