-Tag.types.each do |type|
  .div{class: "#{type.downcase.pluralize}"}
    = select_tag type.downcase.to_sym,
      options_for_select([nil] + type.constantize.names,instance_variable_get("@#{type.downcase}_name"))
    = label_tag type.downcase.to_sym, type
    -if type == "Con" && current_page?(filter_path)
      = radio_button_tag :hide_all, 'cons', @hide_all == 'cons'
      = label_tag :hide_all_cons, 'Hide All'
    -if type == "Pro" && current_page?(filter_path)
      = radio_button_tag :show_any, 'pros', @show_any == 'pros'
      = label_tag :show_any_pros, 'Show Any'
    -if type == "Hidden" && current_page?(filter_path)
      = radio_button_tag :show, 'hiddens', @show_any == 'hiddens'
      = label_tag :show_hiddens, 'Show'
    -if type == "Reader" && current_page?(filter_path)
      = radio_button_tag :show_any, 'readers', @show_any == 'readers'
      = label_tag :show_any_readers, 'Show Any'
      = radio_button_tag :hide_all, 'readers', @hide_all == 'readers'
      = label_tag :hide_all_readers, 'Hide All'
