-Tag.types.each do |type|
  -dtype = type.downcase
  .div{class: "#{dtype}"}
    = select_tag dtype.to_sym,
      options_for_select([nil] + type.constantize.names,instance_variable_get("@#{dtype}_name"))
    = label_tag dtype.to_sym, type
    -if current_page?(filter_path)
      = radio_button_tag "selected_#{dtype}s".to_sym, 'include'
      = label_tag "selected_#{dtype}s_include".to_sym, 'Include'
      = radio_button_tag "selected_#{dtype}s".to_sym, 'exclude'
      = label_tag "selected_#{dtype}s_exclude".to_sym, 'Exclude'
    -if current_page?(filter_path) && Tag.boolean_types.include?(type)
      = radio_button_tag "show_#{dtype}s".to_sym, 'all'
      = label_tag "show_#{dtype}s_all".to_sym, 'Show All'
      = radio_button_tag "show_#{dtype}s".to_sym, 'none'
      = label_tag "show_#{dtype}s_none".to_sym, 'Show None'
