-Tag.types.each do |type|
  .div{class: "#{type.downcase.pluralize}"}
    = label_tag type.downcase.to_sym, "#{type}:"
    = select_tag type.downcase.to_sym,
      options_for_select([nil] + type.constantize.names,instance_variable_get("@#{type.downcase}_name"))
