= hidden_field_tag(:page_id, @page.id)
-types = @some ? Tag.some_types : Tag.types
-types.each do |type|
  .div{class: "#{type.downcase.pluralize}"}
    =type + ": #{@page.tags.send(type.downcase.pluralize).map(&:base_name).join(', ')}"
    = select_tag("page[#{type.downcase}_ids][]", options_from_collection_for_select(Tag.send(type.downcase.pluralize).by_name, 'id', 'base_name', selected = @page.tags.send(type.downcase.pluralize).map(&:id)), :multiple => true)
-if @some
  -(Tag.types - Tag.some_types).each do |type|
    =hidden_field_tag("page[#{type.downcase}_ids][]", @page.tags.send(type.downcase.pluralize).map(&:id))

