-title="Edit tag: #{@tag.name}"
-content_for(:title, title)
%h1=title
.destroy
  %p= link_to 'Destroy', tag_path(@tag, :destroy => true)
%p.tag
  = form_for @tag.becomes(Tag) do |f|
    Change name:
    = hinted_text_field_tag 'tag[name]', @tag.name, "Name"
    %br
    = f.submit "Update"
    %br
    = label_tag :change, "Change type:"
    = select_tag :change, options_for_select(Tag.types, @tag.type)
    = f.submit "Change"
    - unless (@tag.class.names - [@tag.name]).blank?
      %br
      = label_tag :merge, "Merge into:"
      = select_tag :merge, options_for_select([nil] + @tag.class.names - [@tag.name])
      = f.submit "Merge"
