%h1=@title
.pages
  %p=link_to_tag_pages @tag, "#{@tag.pages.count} #{'page'.pluralize(@tag.pages.count)} with that tag"
.destroy
  %p=link_to 'Destroy', tag_path(@tag, destroy: true)
-if @tag.type == "Hidden"
  .recache
    %p=link_to 'Recache', tag_path(@tag, recache: true)
%p.tag
  = form_for @tag do |f|
    Change name:
    = text_field_tag 'tag[name]', @tag.name
    = f.submit "Update"
    %br
    Split into:
    = text_field_tag 'first_tag_name', @tag.name
    and
    = text_field_tag 'second_tag_name', @tag.name
    = f.submit "Split"
    %br
    = label_tag :change, "Change type:"
    = select_tag :change, options_for_select(Tag.types, @tag.type_name)
    = f.submit "Change"
    - unless (@tag.class.names - [@tag.name]).blank?
      %br
      = label_tag :merge, "Merge into:"
      = select_tag :merge, options_for_select([nil] + @tag.class.names - [@tag.name])
      = f.submit "Merge"
