-title="Edit tag: #{@tag.name}"
-content_for(:title, title)
%h1=title
.pages
  %p=link_to "#{@tag.pages.count} #{'page'.pluralize(@tag.pages.count)} with that tag", pages_path(@tag.class.name.downcase.to_sym => @tag.base_name, :type => "all" )
.destroy
  %p=link_to 'Destroy', tag_path(@tag, destroy: true)
-if @tag.is_a? Hidden
  .recache
    %p=link_to 'Recache', tag_path(@tag, recache: true)
%p.tag
  = form_for @tag.becomes(Tag) do |f|
    Change name:
    = hinted_text_field_tag 'tag[name]', @tag.name, "Name"
    = f.submit "Update"
    %br
    Split into:
    = hinted_text_field_tag 'first_tag_name', @tag.name, "First Name"
    and
    = hinted_text_field_tag 'second_tag_name', @tag.name, "Second Name"
    = f.submit "Split"
    %br
    = label_tag :change, "Change type:"
    = select_tag :change, options_for_select(Tag.types, @tag.type_name)
    = f.submit "Change"
    - unless (@tag.class.names - [@tag.name]).blank?
      %br
      = label_tag :merge, "Merge into:"
      = select_tag :merge, options_for_select([nil] + @tag.class.names - [@tag.name])
      = f.submit "Merge"
