-content_for(:title, "Tags")
-Tag.types.each do |type|
  %h2 #{type} Tags
  -Tag.send(type.downcase).by_name.each do |tag|
    %p
      edit
      = link_to "#{tag.name}", edit_tag_path(tag)
      =surround "(", ")" do
        = link_to "#{tag.pages.count} #{'page'.pluralize(tag.pages.count)}", pages_path(tag.class.name.downcase.to_sym => tag.name)
