-content_for(:title, "Tags")
-Tag.types.each do |type|
  %h2{id: type}
    #{type}
    -Tag.types.without(type).each do |type|
      ="|"
      =link_to type, anchor: type
  -Tag.send(type.downcase.pluralize).by_name.each do |tag|
    .div{class: "#{type.downcase.pluralize}"}
      = link_to "edit #{tag.name}", edit_tag_path(tag)
      =surround "(", ")" do
        = link_to "pages tagged with #{tag.base_name}", pages_path(tag.class.name.downcase.to_sym => tag.base_name)
