- content_for :title do
  = "Scrub " + @page.title

.title= @page.title
.info= "everything through the first check and everything including and after the second check is removed. If there is only one check, it is treated as the first check if in the first half, and the second check if it's in the second half"
.form
  - form_for @page do |f|
    .button= f.submit "Scrub"
    - @page.nodes.each_with_index do |node,index|
      .node
        = check_box_tag "nodes[]", index, false, :id => index
        = label_tag index, node
    .button= f.submit "Scrub"
