-title="Edit hidden genre: #{@hidden.name}"
-content_for(:title, title)
%h1=title
.destroy
  %p= link_to 'Destroy', hidden_path(@hidden, :destroy => true)
%p.genre
  = form_for @hidden do |f|
    = hinted_text_field_tag 'hidden[name]', @hidden.name, "Name"
    .button= f.submit "Update"
    %br
    - unless Hidden.names.blank?
      = label_tag :merge, "Merge into:"
      = select_tag :merge, options_for_select([nil] + Hidden.names)
      %br
    .button= f.submit "Merge"
    %br
    .button= f.submit "Move to Genre"
