-@tags.with_pages_count(params[:sort]).each do |pair|
  %p
    -base_name = pair.first
    -tag = pair.second
    -count = pair.third
    =link_to_tag_pages tag, "#{count} #{base_name} #{'page'.pluralize(count)}"
    |
    = link_to "edit #{base_name}", edit_tag_path(tag)
    |
    =link_to "more info about #{tag.name}", tag
