-@tags.with_pages_count.each do |pair|
  %p
    -count = pair.first
    -tag = pair.second
    =link_to_tag_pages tag, "#{count} #{tag.base_name} #{'page'.pluralize(count)}"
    |
    = link_to "edit #{tag.name}", edit_tag_path(tag)
    |
    =link_to "more info about #{tag.name}", tag
