-@tags.by_name.each do |tag|
  %p
    -count = tag.pages.count
    =link_to_tag_pages tag, "#{count} #{tag.base_name} #{'page'.pluralize(count)}"
    |
    = link_to "edit #{tag.name}", edit_tag_path(tag)
    |
    =link_to "more info", tag
