-@tags.by_name.each do |tag|
  .indented
    =link_to_tag tag, "#{tag.base_name} pages"
    |
    = link_to "edit #{tag.name}", edit_tag_path(tag)
    | 
    =link_to "more info", tag.is_a?(Author) ? author_path(tag) : fandom_path(tag)
    .indented
      -count = tag.pages.count
      #{count} #{'page'.pluralize(count)}
      -count = tag.pages.unread.count
      (#{count} unread &
      -count = tag.pages.best.count
      #{count} best) 
