- content_for :title do
  = "After Rating " + @page.title

-if @page.parent
  .parent
    Parent:
    = link_to @page.parent.title, page_path(@page.parent)
    (#{@page.parent.type})
  .tags=@page.parent.meta_strings.join_comma
-if @page.next_part
  .part
    Next:
    = link_to @page.next_part.title, page_path(@page.next_part)
    (#{@page.next_part.type})
.page
.title
  = link_to @page.title, page_path(@page)
  (#{@page.type})
.views
  .tags=@page.meta_strings.join_comma
  .my_notes=raw @page.my_formatted_notes
  .edits
    = link_to "Edit My Notes", edit_my_note_path(@page)
    = link_to "Edit Authors", author_path(@page)
    = link_to "Edit Tags", tag_path(@page)
-if @page.ao3?
  .offsite
    =link_to "Leave Kudos or Comments on #{@page.title} (#{@page.type})",  @page.url + "#comments" if @page.url
    %br
    =link_to "Leave Kudos or Comments on #{@page.parts.last.title} (#{@page.parts.last.type})",  @page.parts.last.url + "#comments" if @page.parts.any?
