-if @page.parent
  .parent
    Parent:
    =link_to @page.parent.title, page_path(@page.parent)

-if @page.next_part
  .part
    Next:
    = link_to "#{@page.next_part.title} HTML", download_url_for_page(@page.next_part, ".html")
    = form_for @page.next_part.becomes(Page), html: {class: 'float'} do
      =submit_tag "Read Now"


.page
  .title
    =link_to @page.title, page_path(@page)
  .stars= @page.star_string
  .last_read
    last read:
    =@page.last_read_string
    %br
    set to read again: #{@page.read_after.to_date}

.my_notes=raw @page.formatted_my_notes unless @page.my_notes.blank?
.my_notes=link_to "Edit My Notes", edit_my_note_path(@page)

-if @page.parent
  .meta
    Parent tags:
    =@page.parent.tags.some.joined

= form_tag tags_path do
  =render "tags/update"
  %div=submit_tag "Update Tags"


