- content_for :title do
  = "After Rating " + @page.title


.page
  .title
    = link_to @page.title, page_path(@page)
  .my_notes
    =raw @page.my_formatted_notes
    = link_to "Edit My Notes", edit_my_note_path(@page)
  .authors
    by
    =@page.authors.map(&:name).join_comma
    = link_to "Edit Authors", author_path(@page)
  .tags
    -if @page.parent
      Parent tags:
      =@page.parent.tags.map(&:name).join_comma
      %br
    -if @page.tags.any?
      My tags:
      =@page.tags.map(&:name).join_comma
      %br
    = link_to "Edit Tags", tag_path(@page)
    -if @page.parent
      = form_for @page.parent.becomes(Page) do |f|
        = submit_tag "Remove Duplicate Tags"


-if @page.ao3?
  .offsite
    -if @page.parts.any?
      =link_to "Leave Kudos or Comments on #{@page.parts.last.title}",  @page.parts.last.url + "#comments"
    -elsif @page.url
      =link_to "Leave Kudos or Comments on #{@page.title}",  @page.url + "#comments"

-if @page.next_part
  .part
    Next:
    = link_to @page.next_part.title, page_path(@page.next_part)
    .tags=@page.next_part.tags.map(&:name).join_comma
    = form_for @page.next_part.becomes(Page) do |f|
      = submit_tag "Read Now"
