- content_for :title do
  = "Rate " + @page.title

.title= @page.title
.rate= "Please rate (converted to #{Page::DURATION} for next suggested read date)"
.form
  = form_tag :rates do
    = hidden_field_tag(:page_id, @page.id)
    = label_tag :interesting, "How interesting was it?"
    - ['very interesting', 'interesting enough', 'boring'].each_with_index do |choice, index|
      %br
      = radio_button_tag :interesting, index, @page.interesting == index
      = label_tag "interesting_#{index}", choice
    %br
    = label_tag :nice, "How sweet was it?"
    - ['very sweet', 'sweet enough', 'stressful'].each_with_index do |choice, index|
      %br
      = radio_button_tag :nice, index, @page.nice == index
      = label_tag "nice_#{index}", choice

    .button= submit_tag "Rate"
    .button= submit_tag "Rate unfinished"
