.title
  Rate
  =link_to @page.title, page_path(@page)
  -if @page.parent
    of #{@page.parent.title}
-if @page.parent
  .parent
    Parent stars:
    =@page.parent.star_string
    ="Favorite" if @page.parent.favorite
.form
  = form_tag :rates do
    = hidden_field_tag(:page_id, @page.id)
    .stars
      = label_tag :stars, "Stars:"
      %br
      - %w[5 4 3].each do |choice|
        =radio_button_tag :stars, choice, @stars == choice
        =label_tag "stars_#{choice}", choice
        -if choice == "5"
          = label_tag :favorite, "Favorite?"
          = radio_button_tag :favorite, 'Yes', @page.favorite == true
          = label_tag :favorite_Yes, 'Yes'
          = radio_button_tag :favorite, 'No', @page.favorite == false
          = label_tag :favorite_No, 'No'
        %br
      = label_tag :today, "Today?"
      = radio_button_tag :today, 'Yes', true
      = label_tag :today_Yes, 'Yes'
      = radio_button_tag :today, 'No', false
      = label_tag :today_No, 'No'

    -if @page.can_have_parts?
      .parent
        = label_tag :all, "Rate parts?"
        = radio_button_tag :all, 'All', false
        = label_tag :all_All, 'All'
        = radio_button_tag :all, 'Unrated', true
        = label_tag :all_Unrated, 'Unrated'
    -if @page.parent && @page.position != 1
      .siblings
        = label_tag :all_previous, "Rate previous?"
        = radio_button_tag :previous, 'All', false
        = label_tag :previous_All, 'All'
        = radio_button_tag :previous, 'Unrated', false
        = label_tag :previous_Unrated, 'Unrated'
        = radio_button_tag :previous, 'None', true
        = label_tag :previous_None, 'None'

    = submit_tag "Rate"
