- content_for :title do
  = "Rate " + @page.title

.title= @page.title
.rate= "Please rate (converted to #{Page::DURATION} for next suggested read date)"
.form
  = form_tag :rates do
    = hidden_field_tag(:page_id, @page.id)
    = label_tag :interesting, "How engrossing was it?"
    - ['very interesting', 'good', 'dull or confusing', 'very boring'].each_with_index do |choice, index|
      %br
      = radio_button_tag :interesting, index
      = label_tag "interesting_#{index}", choice
    %br
    = label_tag :nice, "How easy was it to read?"
    - ['very sweet', 'easy', 'upsetting', 'very stressful'].each_with_index do |choice, index|
      %br
      = radio_button_tag :nice, index
      = label_tag "nice_#{index}", choice

    .button= submit_tag "Rate"
    .button= submit_tag "Rate reading"
