- content_for :title do
  = "Rate " + @page.title

.title Rate #{@page.title}
-if @page.parent
  .stars
    Parent stars:
    =@page.parent.stars
.form
  = form_tag :rates do
    = hidden_field_tag(:page_id, @page.id)
    = label_tag :stars, "Stars:"
    %br
    - 5.times.reverse_each do |int|
      -choice = (int+1).to_s
      =radio_button_tag :stars, choice, @stars == choice
      =label_tag "stars_#{choice}", choice
      %br
    = submit_tag "Rate"
    = submit_tag "Rate unfinished"
    = submit_tag "Rate all unrated parts" if @page.parts.any?
    = submit_tag "Rate all unrated parts unfinished" if @page.parts.any?
