.links
  = link_to_unless_current "Reading", reading_path
  = link_to_unless_current "Soonest", soonest_path
  = link_to_unless_current "Soon", soon_path
  = link_to_unless_current "Find", filter_path
  = link_to_unless_current "StoreOne", new_page_path
  = link_to_unless_current "StoreMultiple", new_part_path
  = link_to_unless_current "Tags", tags_path
