.links
  = link_to_unless_current "Reading", reading_path
  = link_to_unless_current "Next", soonest_path
  = link_to_unless_current "New", mini_path
  = link_to_unless_current "Find", filter_path
  = link_to_unless_current "Tags", tags_path
