- content_for :title do
  = "Scrub " + @page.title

.title= @page.title
.info= "remove through the first check and the second check on (first if it's after the half-way mark." 
%a{:href => "#end"} Jump to end
.form
  = form_for @page do |f|
    .button= f.submit "Remove surrounding Div"
    .button= f.submit "Scrub"
    %p Top
    - @page.top_nodes.each_with_index do |node,index|
      .node
        = check_box_tag "top_nodes[]", index, false, :id => index
        = label_tag index, node
    %p Bottom
    - @page.bottom_nodes.each_with_index do |node,index|
      .node
        = check_box_tag "bottom_nodes[]", @page.bottom_nodes.size - index, false, :id => "bottom" + index.to_s
        = label_tag "bottom" + index.to_s, node
    .button= f.submit "Scrub"
%a{:name => "end"}
