- content_for :title do
  = "Scrub " + @page.title

.title= @page.title
.info= "remove through the first check and the second check on (first if it's after the half-way mark." 
%a{:href => "#end"} Jump to end
.form
  = form_for @page do |f|
    .button= f.submit "Scrub"
    .button= f.submit "Remove surrounding Div"
    - @page.nodes.each_with_index do |node,index|
      .node
        = check_box_tag "nodes[]", index, index==@page.nodes.size-1 ? true : false, :id => index
        = label_tag index, node
    .button= f.submit "Scrub"
%a{:name => "end"}
