- content_for :title do
  = "Scrub " + @page.title

.title= @page.title
.info= "remove through the top selection and the bottom selection on"
%a{:href => "#end"} Jump to end
.form
  = form_for @page do |f|
    .button= f.submit "Remove surrounding Div"
    .button= f.submit "Scrub"
    .top 
      Top
      - @page.top_nodes.each_with_index do |node,index|
        .node
          = radio_button_tag "top_node", index + 1, false
          = label_tag "top_node_#{index + 1}", node
    .bottom 
      Bottom
      - @page.bottom_nodes.each_with_index do |node,index|
        .node
          - id = @page.bottom_nodes.size - index
          = radio_button_tag "bottom_node", id, false
          = label_tag "bottom_node_#{id}", node
    .button= f.submit "Scrub"
%a{:name => "end"}
